<nav class="main-nav">
  <ul id="main-nav-list">
    <li ng-repeat='item in history.month'>
      <a href="" ng-click='history.getMonthNumber(item.id)'>
        <div>
          {{item.name}}
        </div>
      </a>
    </li>
  </ul>
</nav>
    
    <div class='table_container'>
   <table>
                   <thead>
                    <th>date</th>
                      <th>sum</th>
                      <th>comments</th>
                      <th>source</th>
        
                   </thead>
    <tbody>
    
    <tr ng-repeat='item in history.monthIncomes'>
    <td>{{item._data}}</td>
    <td>{{item._sum}}</td>
    <td>{{item.comments}}</td>
    <td>{{item.source}}</td>
   
    </tr>
    </tbody>      
</table>

<table>
     <thead>
      <th>date</th>
        <th>sum</th>
        <th>comments</th>
        <th>catexp</th>
        </thead>
    <tbody>
    
    <tr ng-repeat='item in history.monthExpence'>
    <td>{{item._data}}</td>
    <td>{{item._sum}}</td>
    <td>{{item.comments}}</td>
    <td>{{item.Catexp}}</td>
    </tr>
    
    </tbody>      
</table>
</div>
