body{
    font-family: 'Roboto', sans-serif;
    width: 99%;
    height: 100vh;
     background: url(2144.jpg); 
    background-size: cover; 
}
/*текстове поле загальне*/
.form-group{
    margin-bottom: 20px;
}
.startForm{
    width: 25%;
    margin: 50px auto;
}
.text_field {
  border: none;
  border: 2px solid #597784;
  border-radius: 16px;
  padding: 4px 8px;
  background: #cfeef4;
  color: #434d83;
  box-shadow: 
    inset 0 2px 0 rgba(0,0,0,.2), 
    0 0 4px rgba(0,0,0,0.1);
}
.text_field:focus { 
  outline: none;
  box-shadow: 
    inset 0 2px 0 rgba(0,0,0,0.2), 
    0 0 4px rgba(0,0,0,0.1),
    0 0 6px 3px #90b7e5;
}

/*кнопка загальна*/
.but_test {
	display: inline-block;
	margin: 0 6px;
    padding: 5px 15px;
	outline: none;
	background: #EFF2EB; 
	cursor: pointer;
	border: 21px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
    transition: all 0.2s ease-out;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
    font-size: 17px;
}
.but_test:hover  { 
background: #39c9a2;
    color: #ffffff;
}
.but_test:active {
	position: relative;
	top: 1px;
}

/*таблиця акаунта*/
table {
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:rgba(254, 254, 254, 0.5);
    width:25%;
    margin-right: 50px ;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow:   4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:   4px rgba(0, 0, 0, 0.2);
}
th, td {
    padding:10px 20px 10px; 
    text-align:center; 
}
th {
    padding-top:22px; 
    text-shadow: 1px 1px 1px #fff;
    background:rgba(232, 234, 235, 0.5);
}
td {
    border-top:1px solid #e0e0e0; 
    border-right:1px solid #e0e0e0;
}
tr.odd-row td {
/*    background:rgba(246, 246, 246, 0.4);*/
}
td.first, th.first {
    text-align:left
}
td.last {
    border-right:none;
}
tr:first-child th.first {
/*    -moz-border-radius-topleft:5px;*/
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
}
tr:first-child th.last {
/*    -moz-border-radius-topright:5px;*/
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
}
tr:last-child td.first {
/*    -moz-border-radius-bottomleft:5px;*/
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}
tr:last-child td.last {
/*    -moz-border-radius-bottomright:5px;*/
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}

/*сторінка акаунту*/
.acount{
    display: flex;
    justify-content: center;
    align-items: center;
}
.acount_saves{
    width: 25%;
    margin-right: 50px;
}
.user_information{
    margin-left: 25%;
    margin-bottom: 50px;
    margin-top: 5%;
}
.user_name{
    width: 10%;
    font-size: 26px;
}
.addField{
    height: 30px;
    padding-left: 15px;
    font-size: 20px;
}
.addButton{
   height: 40px;
    font-size: 20px;
}
.acount_catExpence{
    width: 25%;
}


/*сторінка головна*/
.addIncome{
    margin-left: 10%;
}
.saves{
    display: inline-flex;
    justify-content: space-between;
}
.item_saves{
    display: inline-flex;
    margin-bottom: 10px;
    height: 40px;
}
.catExpence{
   display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item_catExpence{
    display: inline-flex;
    margin-bottom: 10px;
    height: 40px;
}
.home{
    width: 75%;
    margin: 0 auto;
}
.saves_balans{
    color: forestgreen;
}

/*модальне вікно*/
.popup__overlay {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    text-align: center
    }

.popup {
    display: inline-block;
    position: fixed;
    background-color: #c6e8f7;
    left: 35%;
    top: 25%;
/*    z-index: 10;*/
    width: 25%;
    height: 350px;
    padding: 20px;
    border: 5px solid #fff;
    border-radius: 15px;
    box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.4);
/*    vertical-align: middle*/
    }
.popup2 {
    display: inline-block;
    position: fixed;
    background-color: #c6e8f7;
    left: 35%;
    top: 25%;
/*    z-index: 10;*/
    width: 25%;
    height: 280px;
    padding: 20px;
    border: 5px solid #fff;
    border-radius: 15px;
    box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.4);
/*    vertical-align: middle*/
    }
.popup3 {
    display: inline-block;
    position: fixed;
    background-color: #c6e8f7;
    left: 35%;
    top: 25%;
/*    z-index: 10;*/
    width: 25%;
    height: 175px;
    padding: 20px;
    border: 5px solid #fff;
    border-radius: 15px;
    box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.4);
/*    vertical-align: middle*/
    }
select{
    display: block;
    width: 70%;
    margin: 20px auto;
    height: 50px;
    font-size: 20px;
}
.popup_field{
   display: block;
    width: 66%;
    margin: 20px auto;
    height: 40px;
    font-size: 20px; 
}
.popup_button{
    display: inline-flex;
    width: 30%;
    margin-left: 55px;
    justify-content: center;
    align-items: center;
    }
.btn_change{
    margin-left: 160px;
}
.popup__close {
    display: block;
    position: absolute;
    top: -20px;
    right: 10px;
    width: 12px;
    height: 12px;
    padding: 8px;
    border: 5px solid #fff;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 2px 2px 2px rgba(0,0,0,.4),
                              0 3px 3px     rgba(0,0,0,.4);
    box-shadow:         inset 0 2px 2px 2px rgba(0,0,0,.4),
                              0 3px 3px     rgba(0,0,0,.4);
    cursor: pointer;
    background: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: #444;
    text-decoration: none;
    font-weight: bold
    }
    .popup__close:hover {
        background: #ddd
        }

/*стилі хедера*/
.show{
    width: 185px;
    height: 250px;
    position: fixed;
    top: 215px;
    left: 0.5%;
/*    z-index: 999;*/
}


input.button4 {
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(245,245,245);
  text-shadow: 0 -1px rgba(0,0,0,.1);
  text-decoration: none;
  padding: .3em 1em;
  outline: none;
  border: none;
  border-radius: 3px;
  background: #39c9a2 linear-gradient(#7ed8c0, #1dc396);
  box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98, #3caa3c 0 0 0 1px, rgba(0,0,0,.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
  left: 40px;
}
input.button4:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}
input.button4:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0,0,0,.3), 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.8), inset 0 -1px 0 rgba(0,0,0,.05);
}
@-webkit-keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}
@keyframes pulsate {
  50% {color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff;}
}

.button1 {
  position: relative;
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: -1px -1px #000;
  padding: .8em 2em;
  outline: none;
  background-color: #136d59;
  background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto;
  background-position: 200% 0, 0 0;
  box-shadow: rgba(0,0,0,.3) 0 2px 5px;
  margin: 10px 0px 0px 40px;  
} 

.button1:active {
  top: 1px;
  box-shadow: none;
}
.button1:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0;
}
.button9 {
  position: relative;
  display: inline-block;
  color: black;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
    opacity: 0.8;
    background-color: aquamarine;
  text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
  width: 150px;
  height: 45px;
  margin: 5px 17.5px 5px 17.5px;
  outline: none;
  border-radius: 3px / 100%;
  background-image:
   linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
   linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
    padding-top: 15px;
    font-size: 18px;
}
.button9:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
.button9:active {
  top: 1px;
}

.date1 {
    position: absolute;
    right: 1%;
}

.menu__block {
    position: relative;
    top: -100px;
}

.budget__block>input {
    position: relative;
    width: 200px;
    height: 30px;
    left: 100px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
    outline: none;
    border-radius: 3px / 100%;
    background-color: #87edf5;
    background-image:
        linear-gradient(45deg, rgba(255, 255, 255, 0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
        linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
        linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
        linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
        linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
        linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
    border: 1px ridge #7fd8fa;
    border-radius: 5px;
    font-size: 15px;
}

.budget__block>input:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

.budget__block {
    margin-left: 20%;
}

@media screen and (max-width: 1150px) {
    body{
        background: url(2144.jpg) 100% no-repeat;
    }
    .acount{
        display: block;
    }
    .acount_saves{
        display:block;
        margin-bottom: 50px;
    }
    .acount_catExpence{
        display: block;
    }
    .user_information{
    margin-left: 0%;
    }
    .menu__block {
        z-index: 999;
}
}
@media screen and (max-width: 1275px) {
    .popup_button{
    display: inline-flex;
    width: 40%;
    margin-left: 1px;
    justify-content: center;
    align-items: center;
    }
.btn_change{
    margin-left: 60px;
}
}
@media screen and (max-width: 503px) {
   .show{
    width: 185px;
    height: 250px;
    position: fixed;
    top: 290px;
    left: 0.5%;
}
}


/*стилі історії*/
.table_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.main-nav ul {
    margin-top: 50px;
    padding: 0;
      width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px #fff;
    background:rgba(232, 234, 235, 0.5);
    height: 35px;
  }
.main-nav a {
    max-width: 140px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    font-size: 20px;
  }
.main-nav a:hover{
  color: teal; 
}
  

 

